<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="B2bapp\ImportHandler\Api\ImportHandlerInterface"
                type="B2bapp\ImportHandler\Model\ImportHandler" />
    <preference for="B2bapp\ImportHandler\Api\AttributeInterface"
                type="B2bapp\ImportHandler\Model\AttributeHandler" />
</config>